page-list-projects {

    .content-page {
        background-image: linear-gradient(to right top, #18c6e1, #7179ee, #f208fd);
    }

    .card-proj {
        
        border-radius: 15px;
        opacity: 0.8;

    }

    .toolbar-background {
        background-color: transparent !important;
    }

    .toolbar-title {
        font-size: 18px;
        display: flex !important;
        white-space: nowrap !important;
        overflow: visible !important;
        justify-content: center;
        color: #F5F5F5;
        margin-right: 20px;

    }

    .text-card {
        color: #7179ee;
        justify-content: center;
        display: flex;
        font-size: 1.8rem !important;
        //margin-bottom: 20px !important;
    }

    .iconMenu {
        color: #F5F5F5 !important;
    }

    .description-card{
        color: #7179ee;
        font-size: 1.6rem !important;
        padding-right: 21px !important;
        justify-content: center;
        display: flex;
    }

    .img-taks{

    }
}