page-new-user {
    label {
        display: flex;
        text-align: center;
        font-size: 18px;
        justify-content: start;
        margin-left: 28px;
        color: #F5F5F5;
        margin-top: 20px;
    }
    .email {
        margin-top: 40px !important;
    }

    input[type=text] {
        width: 90%;
        margin-left: 20px;
        height: 38px;
        border-radius: 12px;
        margin-bottom: 2px;
    }
    .salve-button{
        background-image: linear-gradient(to right top, #f208fd, #18c6e1);
        width: 90%;
        display: flex;
        margin-left: 20px;
        border-radius: 20px;
        margin-top: 36px;
        border: 1px solid rebeccapurple;
    }
  
    .banner {
        background-image: linear-gradient(to right top, #18c6e1, #7179ee, #f208fd);
    }
   .toolbar-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #F5F5F5;
    margin-left: 14px;
    overflow: visible;
   }
   .toolbar-background {
    background-color: transparent !important;
   }
   .back-button {
    color: #F5F5F5 !important;
    background-color: transparent;
   }
   ::-webkit-input-placeholder {
    margin-left: 40px !important;
    font-size: 18px;
    display: flex;
    padding: 5px;
    width: 150px;
}
.toast-background {
    background-color: red;
}
}
