.toast-custom {

    .toast-wrapper {
        background-color: #4c56e4;
        background-size: 14px;
        border-radius: 8px;
    }
   
    .toast-button {
        background-size: 20px;
        background-repeat: no-repeat;
        background-position-x: right;
        border: none;
        margin: 0 16px;
        padding: 0px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 16px;
        color: transparent;
        width: 16px;
      }


    .toast-message {
        color: #FFFFFF;
        text-align: left;
        font-size: 15px;
        letter-spacing: 0.5px;
        padding: 16px 40px;
        width: 100%;
        margin: 0;
    }

}